@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

@model IEnumerable<CargoOrderViewModel>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .nav-link {
        background-color: #ddd;
        padding: 10px;
        text-align: center;
        margin-bottom: 5px;
    }

    .col-3 {
        position: absolute;
        left: 0;
    }
</style>


<div class="container-fluid">


    <div class="row">
        <div class="col-3 bg-light d-flex flex-row flex-wrap">
            <ul class="nav flex-column w-25">
                <li class="nav-item">
                    <a asp-action="PendingOrders" asp-controller="Employees" class="nav-link">Pending Orders</a>
                </li>
                <li class="nav-item">
                    <a asp-action="SearchCusByName" asp-controller="Employees" class="nav-link">Customers</a>
                </li>


            </ul>
        </div>


        <div class="col-9">
            <div class="card-deck mb-3 mt-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">@ViewBag.YetToDeliverOrder</h5>
                        <p class="card-text">Yet to Deliver  </p>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">@ViewBag.OrderCount</h5>
                        <p class="card-text">Total Orders:</p>
                    </div>
                </div>
            </div>

            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ReceiverName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ReceiverEmail)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ReceiverPhoneNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsAccepted)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CargoType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CustId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CargoTypeId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CityId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Weight)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @if (Model != null)
                {
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReceiverName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReceiverEmail)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReceiverPhoneNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsAccepted)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CargoStatusId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CargoTypeId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CityId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Weight)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>

                                    @*<a asp-action="OrderEdit" asp-controller="Employees" asp-route-id=@item.Id class="btn btn-primary ">Edit</a>
                            <a asp-action="OrderDelete" asp-controller="Employees" asp-route-id=@item.Id class="btn btn-primary ">Delete</a>*@
                                    <a asp-action="OrderById" asp-controller="Employees" asp-route-id=@item.Id class="btn btn-primary ">Details</a>


                                </td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>
