@model CargoSample2.Models.CargoOrderViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CargoOrderViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReceiverName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReceiverEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverPhoneNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReceiverPhoneNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsAccepted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsAccepted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CargoStatusId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CargoStatusId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CargoTypeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CargoTypeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CityId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CityId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>

    <form asp-controller="Employees" asp-action="OrderDelete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-controller="Employees" asp-action="Dashboard">Back to Dashboard</a>
    </form>
</div>
