@model IEnumerable<CargoSample2.Models.CityViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>City List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
            @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pincode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
            @Html.DisplayFor(modelItem => item.Id)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.CityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pincode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id=item.Id /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new {id=item.Id /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id/* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Dashboard" asp-controller="Admin">Back to Dashboard</a>
</div>
